@font-face {
  font-family: "Custom font";
  src: url("../fonts/Custom.ttf") format("truetype");
}

@font-face {
  font-family: "Custom font bold";
  src: url("../fonts/Custom-bold.ttf") format("truetype");
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Custom font", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
